%h1 #{@post.title}
%p Author: #{@post.user_id}
= @post.content

- if current_user_is_admin
  = button_to 'Edit Post', edit_post_path(@post), { method: :get }
  = button_to 'Delete Post', @post, { method: :delete, data: { confirm: "Delete: #{@post.title}?" } }
