.span12
  %h1 #{@post.title}
.span12
  %p Author: #{@post.user_id}
.span12
  = @post.content

- if current_user
  = button_to 'Edit Post', edit_post_path(@post), { method: :get }
  = button_to 'Delete Post', @post, { method: :delete, data: { confirm: "Delete: #{@post.title}?" } }
